<html>
    <head>
        <title>Andy's Blog</title>
    </head>
    <body>
        <div>
            <h1>Andy's Blog</h1>
        </div>

        <div>
            <p>published: 2.25.2020, 16:18</p>
            <h2><a href="">My first post</a></h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias voluptas minus id aperiam iste quae, ducimus ex provident dolor pariatur, corporis consequatur. A sint reprehenderit quasi obcaecati, hic omnis aspernatur.</p>
        </div>

        <div>
            <p>published: 2.25.2020, 10:48</p>
            <h2><a href="">My second post</a></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio nihil molestias, repudiandae, vero harum, sint beatae tempore similique reprehenderit nobis ipsa repellendus pariatur accusantium dolor iste exercitationem aliquid quod ea!</p>
        </div>
    </body>
</html>